.about{
   width: 80%;
   margin: auto;
   text-align: center;
   padding-top: 100px;
}
nav{
   display:flex;
   padding: 2% 6%;
   justify-content: space-between;
   align-items: center;
}

.nav-links{
   flex: 1;
   text-align: right;
}
.nav-links ul li{
   list-style: none;
   display: inline-block;
   padding:8px 12px ;
   position: relative;

}
.nav-links ul li a{
   color: rgb(255, 98, 0);
   text-decoration: none;
   display: black;
   margin: auto;
   font-size: 13px;
    transition: 0.5s ;
}

.nav-links ul li a:hover {
   border-bottom: 2px solid rgb(255, 98, 0); 
}
h1{
    font-size: 400%;
   color: rgb(255, 98, 0);
   font-size: 36px;
   font-weight: 14px;

}
h3{
    font-size: 200;
   color: rgb(255, 98, 0);
    
}
.p{
    color: #0b0a0a
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;

}
.row{
    margin-top: 5px;
    display: flex;
    justify-content: space-between
}