*{
   margin: 0;
   padding: 0;
   font-family:

.playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} 
}

.header {
    min-height: 100vh; 
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(4, 9, 30, 0.7)),
                      url("pot.png");
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
   display:flex;
   padding: 2% 6%;
   justify-content: space-between;
   align-items: center;
}
nav img{
   width: 150px;
}
.nav-links{
   flex: 1;
   text-align: right;
}
.nav-links ul li{
   list-style: none;
   display: inline-block;
   padding:8px 12px ;
   position: relative;

}
.nav-links ul li a{
   color: rgb(255, 98, 0);
   text-decoration: none;
   display: black;
   margin: auto;
   font-size: 13px;
    transition: 0.5s ;
}

.nav-links ul li a:hover {
   border-bottom: 2px solid rgb(255, 98, 0); 
}

.textbox{
   width: 90%;
   color: #fff;
   position: absolute;
   top: 250px;
   left: 20px;
   text-align: left;
}
.textbox h1{
   font-size: 400%;
   color: rgb(255, 98, 0);
}
.textbox p{
   margin: 10px 0 40px;
   font-size: 14px;
   color: #fff;
    

}
.hero-btn{
   disiplay: inline-block;
   text-decoration: none;
   color:#ffff;
   border: 1px solid #fff;
   padding: 12px 34px;
   font-size: 13px;
   background: transparent;
   position: relative;
   cursor: pointer;


}
.hero-btn:hover{
   border: 1px solid #fff;
   background:#f44;

}
@media(max-width:700px){

}
/*------COURCE-----*/
.course{
   width: 80%;
   margin: auto;
   text-align: center;
   padding-top: 100px;
}
h1{
   font-size: 36px;
   font-weight: 14px;

}
p{
   color:#383636;
   font-size: 14px;
   font-weight: 300;
   line-height: 22px;
   padding: 10px;
}